# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.log.*

# OS / Editor
.DS_Store
.idea/
.vscode/
*.iml

# Builds / Coverage
dist/
build/
coverage/
.tmp/
.temp/

# Env / Secrets
.env
.env.*

# Misc
*.swp
*.swo
.sqlite
config.json
